:root {
  --gray: #dcdcdc;
  --primary: #c94c4c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: var(--primary);
  color: white;
  padding: 20px;
}

header h1 {
  font-size: 1.75rem;
  margin: 0;
}